<div *ngIf="alreadySeenInstructions">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-title>
              <p style="color: whitesmoke">{{ 'main.round' | translate }}: {{ round }}</p>
            </ion-title>
          </ion-col>
          <ion-col class="center ion-justify-content-around">
            <ion-button (click)="register('loss')" color="danger" size="small"><p class="topBarButton">Lose</p></ion-button>
            <ion-button (click)="register('draw')" size="small"><p class="topBarButton">Draw</p></ion-button>
            <ion-button (click)="register('win')" color="success" size="small"><p class="topBarButton">Win</p></ion-button>
          </ion-col>
          <ion-col class="center">
            <ion-button (click)="nextRound()" color="primary" size="small"><p style="color: #1a1a1a">{{ 'main.nextRound' | translate }}</p></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true"> 
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col class="center">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="3" class="center">
                    <ion-icon style="zoom: 3; padding-right: 5px;" class="incrementer" name="remove-circle-outline" (click)="removeCard()"></ion-icon>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row class="center">
                      <img src="../../../../assets/icon/card.png" style="width: 27px; height: 27px;"> 
                      <p style="color: #a52a2a; margin-left: 5px">{{ cards }}</p>
                    </ion-row>
                  </ion-col>
                  <ion-col size="3" class="center">
                    <ion-icon style="zoom: 3; padding-left: 5px;" class="incrementer" name="add-circle-outline" (click)="addCard()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="3" class="center">
                  <ion-icon style="zoom: 3; padding-right: 5px;" class="incrementer" name="remove-circle-outline" (click)="removeEnergy()"></ion-icon>
                </ion-col>
                <ion-col size="6">
                  <ion-row class="center">
                    <img src="../../../../assets/icon/energy.png" style="width: 25px; height: 25px;"> 
                    <p style="color: #ffbf00; font-size: large; margin-left: 5px">{{ energies }}</p>
                  </ion-row>
                </ion-col>
                <ion-col size="3" class="center">
                  <ion-icon style="zoom: 3; padding-left: 5px;" class="incrementer" name="add-circle-outline" (click)="addEnergy()"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    

    <app-axie axieNumber="1" [energies]="energies" [resetCards]="resetCards" (parentCallback)="callbackFunction($event)" [events]="eventsSubject.asObservable()"></app-axie>
    <app-axie axieNumber="2" [energies]="energies" [resetCards]="resetCards" (parentCallback)="callbackFunction($event)" [events]="eventsSubject.asObservable()"></app-axie>
    <app-axie axieNumber="3" [energies]="energies" [resetCards]="resetCards" (parentCallback)="callbackFunction($event)" [events]="eventsSubject.asObservable()"></app-axie>

  </ion-content>
</div>